@import "partials/variables";

// GLOBALS

body {
  font-family: $font-stack;
  font-size: 16px;
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
}

.btn {
  border-radius: 3px;
}


.full-viewport {
  height: 100vh;

  .main-header {
    padding: 20px 0;
  }

  .btn-primary {
    background-color: map-get($nm-services, 'it-support');
  }

  .jumbotron {
    height: 100%;
    background: linear-gradient(to right, #000, rgba(0,0,0,.3)),
                $dark-1 url('../img/carousel-img.jpg') no-repeat center;
    background-size: cover;
    * {
      color: $light-1;
    }
    h1 {
      text-transform: uppercase;
    }
    .btn {
      text-transform: uppercase;
    }
  }

}







//==========================
// BREAK POINTS
//==========================
// Default breakpoint = 's' (0-767px)



//==========================
// NETMATTERS SERVICE CARDS
//==========================
@mixin nm-card($service, $color) {

  width: 100%;
  margin: 30px 15px 0;

  @media (min-width: map-get($breakpoints, 'm')) {
    width: 720px;
  }

  // Surely there must be a func to eval if val in range
  $i: index(($nm-services), ($service $color));
  @media (min-width: map-get($breakpoints, 'l')) {
    @if $i==1 or $i==2 or $i==3 {
      flex-basis: 293px;
    }
    @else {
      flex-basis: 455px;
    }
  }

  @media (min-width: map-get($breakpoints, 'xl')) {
    @if $i==1 or $i==2 or $i==3 {
      flex-basis: 370px;
    }
    @else {
      flex-basis: 270px;
    }
  }

  background-color: $light-1;
  color: $dark-1;
  font-size: .8125rem;          // 13px
  line-height: 1.5;
  letter-spacing: .03125rem;    // .5px

  &:hover {
    background-color: $color;
    color: $light-1;
    .card-body > i {
      background-color: $light-1;
      border-color: $light-1;
      color: $color;
    }
    .card-body > hr {
      border-color: $light-1;
    }
  }

  .card-body > hr {
    width: 30px;
    border-color: $dark-1;
    border-width: 3px;
    margin-bottom: 12px;
  }

  .card-body > p {
    margin-bottom: 13px;
    height: auto;
  }

  .card-body > .read-more {
    display: inline-block;
    width: 130px;
    padding: 10px;
    border-radius: $border-radius;
    background-color: $color;
    border-color: $color;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.0625rem;  // =17px
    color: $light-1;
  }

  .card-body > .glyph {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;  // 24px
    line-height: 60px;

    margin-bottom: 1.0625rem;  // =17px

    background-color: $color;
    border-color: $color;
    color: $light-1;

  }
}

.nm-cards {
  display: flex;
  align-items: center;
  flex-flow: column wrap;

  @media (min-width: map-get($breakpoints, 'l')) {
   flex-flow: row wrap;
   justify-content: center;
   align-items: stretch;
   align-content: stretch;
  }

  .card-body {
    padding: 30px;
  }

  background-color: $light-2;
  padding: 20px 0 50px;

  // At L/XL breakpoints force line break after Digital Marketing card
  &-break {
    display: hidden;
    @media (min-width: map-get($breakpoints, 'l')) {
      display: inline-block;
      flex-basis: 100%;
    }
  }

  @each $service, $color in $nm-services {
    &-#{$service} {
      @include nm-card($service, $color);
    }
  }
}
