@import "partials/variables";

// GLOBALS

body {
  font-family: $font-stack;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: .025rem;  // .4px
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
}

/*
.btn {
  display: inline-block;
  border-radius: $border-radius;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  // FROM BOOTSTRAP:
  // user-select: none;
  // text-decoration: none;
  // box-sizing: border-box;
}*/


.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: $border-radius;
  color: $light-1;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  // FROM BOOTSTRAP:
  // user-select: none;
  &:hover {
    // text-decoration: none;
    color: inherit;
    // background-color: SET AS MAP OF SECONDARY COLORS
  }
}


.full-viewport {
  display: grid;
  grid-template-rows: max-content auto;

  height: 100vh;

  .main-header {
    flex-grow: 0;
    flex-basis: auto;  // content?
    padding: 20px 0;
  }
  .btn-primary {
    background-color: map-get($nm-services, 'it-support');
  }
}

.jumbotron {
  // Set as flex container so contents are easily centered
  display: flex;
  justify-content: center;
  align-items: center;
  // Set MQ to adjust at larger
  @media (min-width: map-get($breakpoints, 'l')) {
  }

  margin: 0;
  background: linear-gradient(to right, #000, rgba(0,0,0,.3)),
              $dark-1 url('../img/carousel-img.jpg') no-repeat center;
  background-size: cover;
  * {
    color: $light-1;
  }
  h1 {
    text-transform: uppercase;
  }
  .lead {
    line-height: 2.25rem;
    font-weight: 400;
  }
  .jumbotron-button {
    @extend .button;
    background-color: map-get($nm-services, 'web-design');
    height: auto;
    padding: 5px 20px;
    font-size: 1.25rem;
    line-height: 50px;
    &:active, &:hover, &:focus {
      background-color: map-get($nm-secondary, 'web-design');
    }

  }


  // @site https://jonsuh.com/hamburgers
  // @link https://github.com/jonsuh/hamburgers
}


// div within jumbo
// small: center, margin auto, 15px side padding
// Large: fixed width



//==========================
// NETMATTERS SERVICE CARDS
//==========================
@mixin nm-card($service, $color) {

  width: 100%;
  margin: 30px 15px 0;

  @media (min-width: map-get($breakpoints, 'm')) {
    width: 720px;
  }

  // Surely there must be a func to eval if val in range
  $i: index(($nm-services), ($service $color));
  @media (min-width: map-get($breakpoints, 'l')) {
    @if $i==1 or $i==2 or $i==3 {
      flex-basis: 293px;
    }
    @else {
      flex-basis: 455px;
    }
  }

  @media (min-width: map-get($breakpoints, 'xl')) {
    @if $i==1 or $i==2 or $i==3 {
      flex-basis: 370px;
    }
    @else {
      flex-basis: 270px;
    }
  }

  background-color: $light-1;
  color: $dark-1;
  font-size: .8125rem;          // 13px
  line-height: 1.5;
  letter-spacing: .03125rem;    // .5px

  &:hover {
    background-color: $color;
    color: $light-1;
    .card-body > i {
      background-color: $light-1;
      border-color: $light-1;
      color: $color;
    }
    .card-body > hr {
      border-color: $light-1;
    }
  }

  .card-body > hr {
    width: 30px;
    border-color: $dark-1;
    border-width: 3px;
    margin-bottom: 12px;
  }

  .card-body > p {
    margin-bottom: 13px;
    height: auto;
  }

  .card-body > .read-more {
    display: inline-block;
    width: 130px;
    padding: 10px;
    border-radius: $border-radius;
    background-color: $color;
    border-color: $color;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.0625rem;  // =17px
    color: $light-1;
  }

  .card-body > .glyph {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;  // 24px
    line-height: 60px;

    margin-bottom: 1.0625rem;  // =17px

    background-color: $color;
    border-color: $color;
    color: $light-1;

  }
}

.nm-cards {
  display: flex;
  align-items: center;
  flex-flow: column wrap;

  @media (min-width: map-get($breakpoints, 'l')) {
   flex-flow: row wrap;
   justify-content: center;
   align-items: stretch;
   align-content: stretch;
  }

  .card-body {
    padding: 30px;
  }

  background-color: $light-2;
  padding: 20px 0 50px;

  // At L/XL breakpoints force line break after Digital Marketing card
  &-break {
    display: hidden;
    @media (min-width: map-get($breakpoints, 'l')) {
      display: inline-block;
      flex-basis: 100%;
    }
  }

  @each $service, $color in $nm-services {
    &-#{$service} {
      @include nm-card($service, $color);
    }
  }
}
