//==============================
// STANDARD FORM FIELD
//==============================
.form--field {
    margin                  : 0 0 15px;

    label {
        margin              : 0;
        width               : 100%;

        .form--label-copy {
            font-weight     : 600;
            color           : $primary-dark;
        }
        .required--label::after {
            content         : " *";
            color           : $error-red;
        }

        .form--text-input {
            padding         : 5px 15px;
            width           : 100%;
            height          : 47px;

            background-color: $primary-light;
            border          : 1px solid $search-border;
            border-radius   : 2px;
            box-shadow      : $shadow-inset;

            font-size       : .875rem;       // 14px
            line-height     : 1.4;
            color           : $search-input;

            &:focus {
                outline     : 0;
                border-color: $field-focus-color;
                box-shadow  : $shadow-inset, $shadow-outer;
            }

            &::placeholder {
                color       : $utility-button;
            }
        }
    }
}


//==============================
// SUBMIT BUTTON
//==============================

form .form--submit {
    @include button-base-style($context: "body", $service: "signup") {
        height  : 47px;
        border  : 1px solid $primary-dark;
        &:hover {
        border: 1px solid darken($primary-dark, 10%);
        }
    }
}


//==============================
// CONTACT FORM
//==============================

// Form body
#contact {
    background-color: $primary-light;
    padding: 50px 0;

    &--form {
        @include set-content-width;
        margin        : 0 auto;
        padding       : 0 45px;
    }

    &--title {
        @include set-content-width;
        margin        : 0 auto;
        padding       : 0 45px 35px;
        font-size     : 2rem;              // 32px
        font-weight   : 400;
        line-height   : 1.1;
        text-transform: capitalize;
    }

    h2, label, a {
        color         : $primary-dark;
    }

    // Message input field
    .form--text-field-wrapper {
        margin    : 0 0 15px;

        // Last child only
        .form--field:last-child {
            textarea {
                padding-top: 12px;
                height: 250px;
                resize     : none;
            }
        }
    }

    @media (min-width: map-get($breakpoints, 'l')) {
        .form--text-field-wrapper {
            @include flexbox;
            @include flex-flow(column wrap);
            @include align-content(space-between);

            height: 300px;

            .form--field {
                @include flex(1, 1, 71px);

                width: 49%;

                &:last-child {
                    @include flex(3, 1, auto);
                    box-sizing: content-box;

                    label {
                        height: 100%;
                    }

                    .form--text-input {
                        height: 87%;
                    }
                }
            }
        }
    }
}


//==============================
// SIGNUP FORM
//==============================

#footer-signup {
    background-color  : $newsletter-signup;

    #footer-signup-inner {
        @include set-content-width;
        margin        : 0 auto;
        padding       : 50px 0; //45px;

        form {
            padding   : 0 45px;
        }
    }

    h2, label, a {
        color         : $primary-dark;
    }
    h2 {
        margin        : 0 0 15px;
        padding       : 0 45px;
        font-size     : 2rem;              // 32px
        font-weight   : 400;
        line-height   : 1.1;
        text-transform: capitalize;
    }

    @media (min-width: map-get($breakpoints, 'l')) {
        .form--text-field-wrapper {
            @include flexbox;
            @include flex-flow(row nowrap);
            @include justify-content(space-between);

            .form--field {
                @include flex($f-grow: 0, $f-shrink: 0, $f-basis: 49%);
            }
        }
    }
}


//==============================
// ACCEPT GDPR FIELD
//==============================

#gdpr-field {
    @include grid;

    // IE (workaround due to no CSS grid gap support)
    -ms-grid-columns : auto 20px auto;

    .form--gdpr {
        &-field {
            -ms-grid-column: 1;
        }
        &-statement {
            display        : block;
            -ms-grid-column: 3;
        }
    }

    // Modern browser approach for CSS grid
    grid-template-columns: auto auto;
    grid-gap             : 20px;

    // I have added the 15px bottom margin, but at smaller breakpoints there
    // is still a difference of 16px that I cannot account for. To replicate
    // the layout I have added +16px for the small and medium breakpoints
    margin               : 0 0 31px;
    @media (min-width: map-get($breakpoints, 'l')) {
      margin             : 0 0 15px;
    }

    .form--gdpr-field {
      position           : relative;

      input {
        margin-bottom      : 50px;
        height             : 32px;
        width              : 32px;
        appearance         : none;
        -webkit-appearance : none;
        -moz-appearance    : none;
        -o-appearance      : none;
        border             : 3px solid $primary-dark;
        border-radius      : 4px;
        outline            : none;
        &:hover {
          cursor           : pointer;
        }
        ~ .icon-check {
          visibility       : hidden;
          color            : $primary-light;
          position         : absolute;
          font-size        : 1.5rem;
          left             : 4px;
          top              : 4px;
        }
      }

      input:checked {
        background-color   : $primary-dark;
        ~ .icon-check {
          visibility       : visible;
        }
        ~ .icon-check:hover {
          cursor: pointer;
        }
      }
    }

    .form--gdpr-statement {
      font-weight        : 600;
      line-height        : 32px;
      cursor             : pointer;
    }
    .form--gdpr-statement > a {
      text-decoration    : underline;
      &:hover {
        color            : darken($primary-dark, 10%);
    }
  }
}
