//=====================================
// FOOTER
//=====================================

footer {
  color           : $primary-light;
  line-height     : 22px;
}

.footer-subsection {                   // Hidden at S breakpoint
  display         : none;
}

#main-footer {
  padding         : 47px 0 43px;
  background-color: $primary-dark;

  h6 {
    font-size     : 1rem;
    font-weight   : 400;
    text-transform: uppercase;
    margin-bottom : 24px;
  }

  a {
    color         : inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  address, span, a {
    font-size    : .8125rem;           // 13px
  }

  address {
    margin: 0;
  }

  ul {                                 // A flex container for li flex items
    margin       : 0;
    padding      : 0;
    list-style   : none;
  }

  li {
    height       : 22px;
  }
}

#main-footer-inner {
  @include flexbox;
  @include flex-flow((column nowrap));

  .main-footer-content {
    padding      : 0 15px;

    & > *:not(:last-child) {           // Apply to direct children except last
      margin-bottom: 22px;
    }
  }
  .main-footer-content:nth-of-type(-n+3) {  // Apply to all flex items except last
    margin       : 0 0 30px;
    @media (min-width: map-get($breakpoints, 'xl')) {
      margin     : 0;
    }
  }

  #button-grid {

    margin-top   : 30px;

    display      : grid;
    width        : 100%;
    grid-template: 55px 55px / auto auto;  // <rows> / <columns>
    grid-gap     : 30px;

    @each $key, $color in $social-buttons-ui {
      ##{$key}-button {
        @include button-base-style($service: $key, $context: 'footer') {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }  // @each
  }  // #button-grid
}  // #main-footer-inner

.footer-subsection-inner,              // Sets max-width of containers for each
#main-footer-inner {                   // breakpoint
  @include set-content-width;
}

@media (min-width: map-get($breakpoints, 'm')) {

  .footer-subsection {                 // Apply to clients & accreditations
    display          : block;
    padding          : 50px 0;
    &-inner {
      @include flexbox;
      @include flex-flow((row nowrap));
      @include justify-content(center);
      @include align-content(flex-start);
      margin         : 0 auto;
      padding        : 0 15px;
    }
  }

  .footer-subsection-item {
    padding          : 0 20px;
    img {
      max-width      : 100%;
      height         : auto;
    }

    .item-color {display: none;}       // Show & hide color/greyscale versions
    &:hover {                          // based on hover state
      .item-color {display: block}
      .item-greyscale {display: none}
    }

    #google-partner-badge {
      width     : 220px;
      box-shadow: 1px 1px 2px rgba(0,0,0,.2);   // NTD: Var
    }
  }

  #main-footer-inner {
    @include flex-flow((row wrap));
    margin   : 0 auto;
    .main-footer-content {
      width  : 50%;
    }
  }
}

@media (min-width: map-get($breakpoints, 'xl')) {
  #main-footer-inner {
    .main-footer-content {
      width: 25%;
    }
  }
  .footer-subsection-inner {
    @include justify-content(space-evenly);
  }
}

$clients: ('busseys', 'crane', 'beat', 'northern-diver');

@each $client in $clients {
  #client-#{$client} {
    position          : relative;
    .client-description {
      display         : none;
      width           : 260px;
      padding         : 20px;
      position        : absolute;
      bottom          : 211%;
      @media (min-width: map-get($breakpoints, 'l')) {
        bottom: 180%;
      }
      @media (min-width: map-get($breakpoints, 'l')) {
        bottom: 171%;
      }
      left            : 50%;
      transform       : translateX(-50%);

      text-align      : center;
      background-color: $primary-dark;

      h3 {
        font-size     : 1.125rem;      // 18px
        margin: 0;
      }
      hr {
        margin        : 14 auto;
        width         : 28px;
        border-width  : 3px;
        border-color  : $primary-light;
      }
      p {
        font-size     : .8125rem;      // 13px
        line-height   : 22px;
        margin        : 0;
      }

      &:before {
       content        : "";
       width          : 0px;
       height         : 0px;
       position       : absolute;
       border-top     : 30px solid $primary-dark;
       border-bottom  : 30px solid transparent;
       border-left    : 30px solid transparent;
       border-right   : 30px solid transparent;
       right          : 39%;
       bottom         : -60px;
      }
    }  // .client-description
    &:hover > .client-description {
      display: block;
    }
  }  // #client#{$client}
}  // @each


//=====================================
// NEWSLETTER SIGNUP
//=====================================

#footer-signup {
  background-color: #ddd; // NTD: var
  #footer-signup-inner {
    margin        : 0 auto;
    padding       : 50px 45px;
    @include set-content-width;
  }

  h2, label, a {
    color         : $primary-dark;
  }
  h2 {
    margin        : 0 0 15px;
    font-size     : 2rem;              // 32px
    font-weight   : 400;
    line-height   : 1.1;
    text-transform: capitalize;
  }

  .input-field {
    margin            : 0 0 15px;

    @media (min-width: map-get($breakpoints, 'l')) {
      display         : inline-block;
      width           : 48%;
      &:first-of-type {
        margin-right  : 15px;
      }
      &:last-of-type {
        margin-left   : 15px;
      }
    }

    label {
      margin          : 0 0 5px;
      width           : 100%;
      font-weight     : 600;
    }
    label::after {
      content         : " *";
      color           : rgb(210,77,87);
    }
    input {
      padding         : 5px 15px;
      width           : 100%;
      height          : 47px;

      background-color: $primary-light;
      border          : 1px solid $search-border;
      border-radius   : 2px;
      box-shadow      : $shadow-inset;

      font-size       : .875rem;       // 14px
      line-height     : 1.4;
      color           : $search-input;

      &:focus {
        outline       : 0;
        border-color  : $field-focus-color;
        box-shadow    : $shadow-inset, $shadow-outer;
      }
    }  // input
  }  // .input-field

  #signup-confirm {
    display              : grid;
    grid-template-columns: auto auto;
    grid-gap             : 20px;

    // I have added the 15px bottom margin, but at smaller breakpoints there
    // is still a difference of 16px that I cannot account for. To replicate
    // the layout I have added +16px for the small and medium breakpoints
    margin               : 0 0 31px;
    @media (min-width: map-get($breakpoints, 'l')) {
      margin             : 0 0 15px;
    }

    #signup-checkbox {
      position: relative;
    }
    input {
      margin-bottom      : 50px;
      height             : 32px;
      width              : 32px;
      appearance         : none;
      -webkit-appearance : none;
      -moz-appearance    : none;
      -o-appearance      : none;
      border             : 3px solid $primary-dark;
      border-radius      : 4px;
      outline            : none;
      cursor             : pointer;
      & ~ .icon-check {
        visibility       : hidden;
        color: $primary-light;
        position         : absolute;
        font-size        : 1.5rem;
        left             : 4px;
        top              : 4px;
      }
    }
    input:checked {
      background-color   : $primary-dark;
      & ~ .icon-check {
        visibility       : visible;
      }
    }
    #signup-terms {
      font-weight        : 600;
      line-height        : 32px;
      cursor             : pointer;
    }
    #signup-terms > a {
      text-decoration    : underline;
      &:hover {
        color            : darken($primary-dark, 10%);
      }
    }
  }  // #signup-confirm

  #signup-submit {
    @include button-base-style($context: "body", $service: "signup") {
      height: 47px;
      border: 1px solid $primary-dark;
      &:hover {
        border: 1px solid darken($primary-dark, 10%);
      }
    }
  }
}
