//=====================================
// FOOTER
//=====================================

footer {
  color           : $primary-light;
  line-height     : 22px;
}

.footer-subsection {                   // Hidden at small breakpoint
  display         : none;
}

#main-footer {
  padding         : 47px 0 43px;
  background-color: $primary-dark;

  h6 {
    font-size     : 1rem;
    font-weight   : 400;
    text-transform: uppercase;
    margin-bottom : 24px;
  }

  a {
    color         : inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  address, span, a {
    font-size    : .8125rem;           // 13px
  }

  address {
    margin: 0;
  }

  ul {                                 // A flex container for li flex items
    margin       : 0;
    padding      : 0;
    list-style   : none;
  }

  li {
    height       : 22px;
  }
}

#main-footer-inner {
  @include flexbox;
  @include flex-flow((column nowrap));

  .main-footer-content {
    padding      : 0 15px;

    & > *:not(:last-child) {           // Apply to direct children except last
      margin-bottom: 22px;
    }
  }
  .main-footer-content:nth-of-type(-n+3) {  // Apply to all flex items except last
    margin       : 0 0 30px;
    @media (min-width: map-get($breakpoints, 'xl')) {
      margin     : 0;
    }
  }

  #button-grid {

    margin-top   : 30px;
    width        : 100%;

    @include grid;
    // As IE doesn't support gutters, i've added intermediary columns and rows
    // with specified button placement in the grid. For modern browsers the
    // grid-template shortand and grid-gap properties are used.

    // Grid compatibility in IE; minmax() used instead of auto, as columns need
    // to be abe to stretch (in IE auto caused them to assue width max-content)
    -ms-grid-rows    : 55px 30px 55px;
    -ms-grid-columns : minmax(min-content, 1fr) 30px minmax(min-content, 1fr);

    #facebook-button {
      -ms-grid-row   : 1;
      -ms-grid-column: 1;
    }
    #twitter-button {
      -ms-grid-row   : 1;
      -ms-grid-column: 3;
    }
    #linkedin-button {
      -ms-grid-row   : 3;
      -ms-grid-column: 1;
    }

    // Grid compatibility in modern browsers:
    grid-template    : 55px 55px / auto auto;  // <rows> / <columns>
    grid-gap         : 30px;

    @each $key, $color in $social-buttons-ui {
      ##{$key}-button {
        @include button-base-style($service: $key, $context: 'footer') {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }  // @each
  }  // #button-grid
}  // #main-footer-inner

.footer-subsection-inner,              // Sets max-width of containers for each
#main-footer-inner {                   // breakpoint
  @include set-content-width;
}

@media (min-width: map-get($breakpoints, 'm')) {

  .footer-subsection {                 // Apply to clients & accreditations
    display          : block;
    padding          : 50px 0;
    &-inner {
      @include flexbox;
      @include flex-flow((row nowrap));
      @include justify-content(center);
      @include align-content(flex-start);
      margin         : 0 auto;
      padding        : 0 15px;
    }
    background-color: $primary-light;
  }

  .footer-subsection-item {
    padding          : 0 20px;
    img {
      max-width      : 100%;
      height         : auto;
    }

    .item-color {display: none;}       // Show & hide color/greyscale versions
    &:hover {                          // based on hover state
      .item-color {display: block}
      .item-greyscale {display: none}
    }

    #google-partner-badge {
      width     : 220px;
      box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    }
  }

  #main-footer-inner {
    @include flex-flow((row wrap));
    margin   : 0 auto;
    .main-footer-content {
      width  : 50%;
    }
  }
}

@media (min-width: map-get($breakpoints, 'xl')) {
  #main-footer-inner {
    .main-footer-content {
      width: 25%;
    }
  }
  .footer-subsection-inner {
    @include justify-content(space-evenly);
  }
}

$clients: ('busseys', 'crane', 'beat', 'northern-diver');

@each $client in $clients {
  #client-#{$client} {
    position          : relative;
    .client-description {
      display         : none;
      width           : 260px;
      padding         : 20px;
      position        : absolute;
      bottom          : 211%;
      @media (min-width: map-get($breakpoints, 'l')) {
        bottom: 180%;
      }
      @media (min-width: map-get($breakpoints, 'l')) {
        bottom: 171%;
      }
      left            : 50%;
      transform       : translateX(-50%);

      text-align      : center;
      background-color: $primary-dark;

      h3 {
        font-size     : 1.125rem;      // 18px
        margin: 0;
      }
      hr {
        margin        : 14 auto;
        width         : 28px;
        border-width  : 3px;
        border-color  : $primary-light;
      }
      p {
        font-size     : .8125rem;      // 13px
        line-height   : 22px;
        margin        : 0;
      }

      &:before {
       content        : "";
       width          : 0px;
       height         : 0px;
       position       : absolute;
       border-top     : 30px solid $primary-dark;
       border-bottom  : 30px solid transparent;
       border-left    : 30px solid transparent;
       border-right   : 30px solid transparent;
       right          : 39%;
       bottom         : -60px;
      }
    }  // .client-description
    &:hover > .client-description {
      display: block;
    }
  }  // #client#{$client}
}  // @each


//=====================================
// NEWSLETTER SIGNUP
//=====================================

#footer-signup {
  background-color: $newsletter-signup;
  #footer-signup-inner {
    @include set-content-width;
    margin        : 0 auto;
    padding       : 50px 45px;
  }

  h2, label, a {
    color         : $primary-dark;
  }
  h2 {
    margin        : 0 0 15px;
    font-size     : 2rem;              // 32px
    font-weight   : 400;
    line-height   : 1.1;
    text-transform: capitalize;
  }
}


.signup--field {
  @media (min-width: map-get($breakpoints, 'l')) {
    display         : inline-block;
    width           : 48%;
    &:first-of-type {
      margin-right  : 15px;
    }
    &:last-of-type {
      margin-left   : 15px;
    }
  }
}