//=====================================
// JUMBOTRON
//=====================================
// Jumbotron is a flex container for
// its content as well as a grid item

.jumbotron {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  margin           : 0;
  position         : relative;          // For positioning owl buttons

  background       : linear-gradient(to right, #000, rgba(0,0,0,.3)),
                     linear-gradient(to left, rgba(0,0,0,.3), transparent 25%),
                     $primary-dark url('../img/web-design-background.jpeg') no-repeat center;
  background-size  : cover;

  border-top       : 1px solid #999aa2; // On site this is rgba(51,54,69.5) but
                                        // this value in my code seems far too
                                        // dark! Approximated as this value.

  color            : $primary-light;
  text-align       : center;
  @media (min-width: map-get($breakpoints, 'l')) {
    background     : linear-gradient(to right, #000, transparent 75%),
                    $primary-dark url('../img/web-design-background.jpeg') no-repeat center;
    background-size: cover;
    text-align     : left;
  }

  .container {
    @include set-content-width;
  }

  h1 {
    text-transform: uppercase;
    margin-bottom : 25px;
  }
  .lead {
    line-height   : 2.25rem;
    font-weight   : 400;
    margin-bottom : 35px;
  }

  .jumbotron-button {
    @include button-base-style($service: 'web-design', $context: 'jumbo') {
      [class^="icon-"] {
        margin-left: 10px;
      }
    }
  }
}

#owl-container {
  position          : absolute;        // Position relative to the jumbotron
  text-align        : center;
  width             : 100%;
  left              : 0;
  bottom            : 40px;

  span {
    display         : inline-block;
    margin          : 0 8px;
    width           : 11px;
    height          : 11px;
    background-color: transparentize($primary-light, .5);
    border-radius   : 50%;
    vertical-align  : middle;
    cursor          : pointer;
  }

  .owl-button {
    display           : inline-block;
    position          : relative;
    &:hover > span {
      background-color: #869791; // NTD: Var
    }

    span:active {
      background-color: $primary-light;
      &::after {
        content       : "";
        position      : absolute;
        border-radius : 50%;
        border        : 2px solid $primary-light;
        width         : 23px;
        height        : 23px;
        @-moz-document url-prefix() {  // Absolute positioning renders
          top: 2px;                    // differently in firefox - using a
          right: 2px;                  // firefox hack as a workaround
        }
        top           : 1px;
        right         : 2px;
      }
    }
  }  // .owl-button
}  // #owl-container
