//=====================================
// JUMBOTRON
//=====================================
// Jumbotron is a flex container for
// its content as well as a grid item

.jumbotron {
  padding          : 0;
  min-height       : 490px;

  margin           : 0;
  position         : relative;          // For positioning owl buttons

  border-top       : 1px solid #999aa2; // On site this is rgba(51,54,69.5) but
                                        // this value in my code seems far too
                                        // dark! Approximated as this value.

  color            : $primary-light;
  text-align       : center;
  @media (min-width: map-get($breakpoints, 'l')) {
    text-align     : left;
  }

  .container {
    @include set-content-width;
  }

  h1 {
    text-transform: uppercase;
    margin-bottom : 25px;
  }
  .lead {
    line-height   : 2.25rem;
    font-weight   : 400;
    margin-bottom : 35px;
  }
}

.slider, .slide {
  width: 100%;
  height: 100%;
}

.slidecontent {
  overflow: hidden;
  position: relative;
}

.slide {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  top: 0;
  left: 0;
  float: left;
  position: absolute;

  // Set the background and button style for each card
  @each $service, $color in $nm-services {
    &-#{$service} {
      background     : linear-gradient(to right, black, rgba(0,0,0,.3)),
                       linear-gradient(to left, rgba(0,0,0,.3), transparent 25%),
                       $primary-dark url('../img/slider-#{$service}.jpg') no-repeat center;
      @media (min-width: map-get($breakpoints, 'l')) {
        background   : linear-gradient(to right, black, transparent 75%),
                       $primary-dark url('../img/slider-#{$service}.jpg') no-repeat center;
      }
      background-size: cover;

      .slide-button {
        @include button-base-style($service: '#{$service}', $context: 'jumbo');
      }
    }
  }
}

#slideposition {
  position  : absolute;
  bottom    : 25px;
  left      : 0;
  right     : 0;
  text-align: center;

  ul {
    padding: 0;

    .indicator {
      display         : inline-block;
      margin          : 0 8px;
      width           : 11px;
      height          : 11px;
      background-color: transparentize($primary-light, .5);
      border-radius   : 50%;
      vertical-align  : middle;
      cursor          : pointer;
    }
    .active {
      background-color: $primary-light;
      position: relative;
    }
    .active::after {
      content       : "";
      position      : absolute;
      left          : -52%;
      top           : -52%;
      width         : 23px;
      height        : 23px;
      border        : 2px solid $primary-light;
      border-radius : 50%;
    }
  }
}
