#mobile-nav {
  border: 1px solid transparent;  // Prevent collapsing margin // NTD check if still need

  background-color: $primary-dark;

  * {
    text-transform: uppercase;
    color: $primary-light;
  }

  ul {
    list-style: none;
  }
}

.mobile-main {

  &-nav {
    padding: 20px 20px 0;
  }

  &-subnav {
    padding: 0;
    margin : 0 0 20px 0;

    background-color: rgba(0,0,0,.25);
  }

  &-nav-item {
    display      : inline-block;
    width        : 100%;
    padding      : 19px 0 18px;
    margin       : 0 0 20px 0;

    border       : 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    outline: 1px solid rgba(0, 0, 0, 0.25);

    text-align   : center;
    font-size    : 18px;           // CHANGE
  }

  &-nav-subitem {

  }
}
