//=====================================
// HAMBURGER STYLING
//=====================================
// Included for the sake of replicating
// the style on the NetMatters website,
// but not functional due to JavaScript
// dependency.

// NEED TO TURN OFF EASE

$hamburger-layer-color         : $primary-light;
$hamburger-layer-border-radius : 0;
$hamburger-layer-width         : 33px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 5px;
$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 0;

$hamburger-hover-use-filter    : true;
$hamburger-hover-filter        : contrast(1.5);
$hamburger-active-hover-filter : $hamburger-hover-filter;

@import "../../assets/hamburgers/hamburgers";

.hamburger {
  background-color : $primary-dark;
  border-radius    : $border-radius;
  height           : $header-button-height;

  .burger-text {
    display        : block;
    color          : $primary-light;
    text-transform : uppercase;
    font-size      : .75rem;           // 12px
    line-height    : 1;
  }
}
