//===========================
// FADE IN
//===========================

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@mixin fade-element-in {
  animation           : fade-in ease-in-out .6s;  // Fade in
  -webkit-animation   : fade-in ease-in-out .6s;
  -moz-animation      : fade-in ease-in-out .6s;
  -o-animation        : fade-in ease-in-out .6s;
  -ms-animation       : fade-in ease-in-out .6s;

  transition-delay    : .3s;                      // Wait to become visible (effect of waiting to fade in)
  transition-property : visibility;
  visibility          : visible;
}

// For toggling header items using JS
.fade-in-header-element {
  @include fade-element-in;
}

//===========================
// FADE OUT
//===========================

@keyframes fade-out {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-moz-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-webkit-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-o-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-ms-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@mixin fade-element-out {
  animation           : fade-out ease-in-out .3s; // Fade out
  -webkit-animation   : fade-out ease-in-out .3s;
  -moz-animation      : fade-out ease-in-out .3s;
  -o-animation        : fade-out ease-in-out .3s;
  -ms-animation       : fade-out ease-in-out .3s;

  transition-delay    : .3s;                      // Keep hidden at the end of the fade-out
  transition-property : visibility;
  visibility          : hidden;
}

// For toggling header items unsing JS
.fade-out-header-element {
  @include fade-element-out;
}

//============
// SLIDE DOWN
//============

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-ms-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

$duration: 250ms;
$bezier: cubic-bezier(.48,1.07,.75,.99);
$delay: 0ms;

.slide-down {
  animation        : $duration $bezier $delay 1 slideDown;
  -webkit-animation: $duration $bezier $delay 1 slideDown;
  -moz-animation   : $duration $bezier $delay 1 slideDown;
  -o-animation     : $duration $bezier $delay 1 slideDown;
  -ms-animation    : $duration $bezier $delay 1 slideDown;

  animation-fill-mode: forwards;
}

//==========
// SLIDE UP
//==========

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-ms-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slide-up {
  animation        : $duration $bezier $delay 1 slideUp;
  -webkit-animation: $duration $bezier $delay 1 slideUp;
  -moz-animation   : $duration $bezier $delay 1 slideUp;
  -o-animation     : $duration $bezier $delay 1 slideUp;
  -ms-animation    : $duration $bezier $delay 1 slideUp;

  animation-fill-mode: forwards;
}
