//==========================
// COLOURS
//==========================
$light-1           : #fff;             // Header, card backgrounds, text
$light-2           : #f5f5f5;          // Sections backgrounds
$dark-1            : #333645;          // Nav bar, logo, menu btn, text

$search-background : rgba(0,0,0,.1);   // Input field background
$search-border     : #ccc;             // Input field border
$search-input      : #555;             // Input field text
$search-shadow     : rgba(0,0,0,.075); // Input field inset shadow when

$utility-button    : #999aa2;          // Header contact, header search
$utility-button-ui : #7e808a;          // Secondary colour for user interaction

$nm-services: (                        // Colors of NetMatters services
  'bespoke-software'  : #67809f,
  'it-support'        : #4183d7,
  'digital-marketing' : #2ecc71,
  'telecoms-services' : #d64541,
  'web-design'        : #926fb1,       // + developer training
  'cyber-security'    : #f62459,
);

$nm-secondary: (
  'bespoke-software'  : #566c88,       // User interaction changes to
  'it-support'        : #2a6ec6,       // $nm-services colors [e.g. :hover]
  'digital-marketing' : #26ab5f,
  'telecoms-services' : #c42e2a,
  'web-design'        : #7e57a0,
  'cyber-security'    : #e80a42,
);

$social-buttons: (                     // Colors for social buttons
  'facebook' : #3b5998,
  'twitter'  : #00aced,
  'linkedin' : #0077b5,
);

//==========================
// FONTS
//==========================
$font-stack: 'Poppins', sans-serif;

//==========================
// VIEWPORTS
//==========================
$breakpoints: (
  's'  : 767px,                        // SMALL:   0px-767px
  'm'  : 768px,                        // MEDIUM:  768px-991px
  'l'  : 992px,                        // LARGE:   992px-1259px
  'xl' : 1260px,                       // X-LARGE: >= 1260px
);

//==========================
// UTILITIES
//==========================
$border-radius: 3px;

$header-button-height: 56px;
